<form class="login-form">
  <div>
    <label for="username-login" class="form-label">username:</label>
    <input class="form-input" type="text" id="username-login" />
  </div>
  <div>
    <label for="password-login" class="form-label">password:</label>
    <input class="form-input" type="password" id="password-login" />
  </div>
  <div>
    <button class="btn" type="submit">Login</button>
    <h3><a class="btn" href="/signup">Sign Up Instead</a></h3>

  </div>
</form>

<script src="/javascript/login.js"></script>